@model ExerciseProgram.WebUI.Models.ExercisesListViewModel
@{
    ViewBag.Title = "Exercises";
}
<h1 class="text-center">Exercises</h1>
<div>
    <div id="categories" class="text-center">
        @Html.Action("Menu", "Nav")
    </div>
    
    <div class="btn-group-justified">
        @foreach (var e in Model.Exercises)
        {
            @Html.Partial("ExerciseSummary", e)
        }
    </div>

    <div class="btn-group pull-right">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new { page = x, category = Model.CurrentCategory }))
    </div>
</div>
<p>
    @Html.ActionLink("Exercise Table", "Index") | 
    @Html.ActionLink("Exercise Categories", "Index", "Category")
</p>