@model ExerciseProgram.WebUI.Models.CalculationIndexViewModel
@{ 
    ViewBag.Title = "Exercise Program Sets: ";
}

<h2>Your Sets</h2>
<table class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Exercise</th>
            <th class="text-right">Exercise Max</th>
            <th class="text-right">Set weights for 5x5</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Calculation.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Exercise.Name</td>
                <td class="text-right">@line.Exercise.ExerciseMax.ToString()</td>
                <td class="text-right">
                    @for (int i = 1; i <= 5; i++)
                    {
                        <div class="col-sm-1"></div>
                        @Model.Calculation.ComputeTotal(i).ToString()
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Back To Table</a>
</div>