@model ExerciseProgram.Domain.Entities.Exercise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.exerciseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exerciseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exerciseDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exerciseDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exerciseMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exerciseMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.exerciseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
