@model IEnumerable<ExerciseProgram.Domain.Entities.Exercise>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.exerciseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exerciseDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exerciseMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.catID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.exerciseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exerciseDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exerciseMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.catID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.exerciseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.exerciseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.exerciseID })
        </td>
    </tr>
}

</table>
